groq~=1.6.0
python-dotenv~=1.2.2
pandas~=3.0.5
pillow~=12.3.0
protobuf~=5.29.6
faiss-cpu~=1.14.3
numpy~=2.5.1
sentence-transformers~=5.6.1
streamlit~=1.60.0
skyfield~=1.54
joblib~=1.5.3
requests~=2.34.2
geopy~=2.5.0
scikit-learn~=1.7.2